@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.header {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__information {

}

.header__information span {
    font-family: "EncodeSans-Bold";
    padding: 5px 0;
}

.header__login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.header__login img {
    width: 100%;

}

.nav{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav__search{
    /* background: violet; */
    position: relative;
}
.nav__search input {
    outline: none;
    width: 260px;
    height: 45px;
    border-radius: 10px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 1px solid var(--color-3);
}
.search__icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    left: .8rem;
    user-select: none;
    cursor: pointer;
}
.nav__filter{
    background: var(--color-1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}
.nav__filter img {
    width: 20px;
    position: absolute;
    inset: 0;
    margin: auto;
}
.main {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 15px;
}
.main__nav {
    /* background: violet; */
    /* padding: 10px; */
}
.nav__ul {
    /* background: green; */
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    overflow-x: scroll;
}

.nav__ul li{
    flex: 1;
    min-width: 30%;
    list-style: none;
}
.nav__ul li a{
    /* background: orange; */
    /* width: 105px; */
    height: 36px;
    font-family: 'EncodeSans-Medium';
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--color-3);
    color: var(--color-1);
    background: var(--color-5);
}
.nav__ul li a:hover{
    filter: invert(1);
}