<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>

<body>
    <main class="main">
        <section class="main__section">
            <article article__products>
                <div class="products__menu">
                    <img src="../storage/img/back.svg" alt="">
                    <h1>Checkout</h1>
                    <img src="../storage/img/sidebar.svg" alt="">
                </div>
                <div class="products__container">
                    <div class="products__card">
                        <div class="product_image">
                            <img src="../storage/img/img3.png" alt="">
                        </div>
                        <div class="product__info">
                            <div class="product__name">
                                <h5>Modern light clothes</h2>
                                <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="product_select">
                            <img src="../storage/img/menu.svg" alt="">
                            <div class="product__options">
                                <img src="../storage/img/minusWhite.svg" alt="">
                                <span>4</span>
                                <img src="../storage/img/plusWhite.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="products__card">
                        <div class="product_image">
                            <img src="../storage/img/img3.png" alt="">
                        </div>
                        <div class="product__info">
                            <div class="product__name">
                                <h5>Modern light clothes</h2>
                                <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="product_select">
                            <img src="../storage/img/menu.svg" alt="">
                            <div class="product__options">
                                <img src="../storage/img/minusWhite.svg" alt="">
                                <span>4</span>
                                <img src="../storage/img/plusWhite.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="products__card">
                        <div class="product_image">
                            <img src="../storage/img/img3.png" alt="">
                        </div>
                        <div class="product__info">
                            <div class="product__name">
                                <h5>Modern light clothes</h2>
                                <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="product_select">
                            <img src="../storage/img/menu.svg" alt="">
                            <div class="product__options">
                                <img src="../storage/img/minusWhite.svg" alt="">
                                <span>4</span>
                                <img src="../storage/img/plusWhite.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="products__card">
                        <div class="product_image">
                            <img src="../storage/img/img3.png" alt="">
                        </div>
                        <div class="product__info">
                            <div class="product__name">
                                <h5>Modern light clothes</h2>
                                <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="product_select">
                            <img src="../storage/img/menu.svg" alt="">
                            <div class="product__options">
                                <img src="../storage/img/minusWhite.svg" alt="">
                                <span>4</span>
                                <img src="../storage/img/plusWhite.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </article>
        </section>

    </main>
</body>

</html>