<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/wishList.css">
    <script type="module" src="../js/wishList.js" defer></script>
</head>
<body>
    <header class="header">
        <div>
            <a href="../index.html">
                <img src="../storage/img/back.svg">
            </a>
        </div>
        <div>Wish List</div>
        <div class="header__login">
            <img src="../storage/img/img5.jpg" alt="">
        </div>
    </header>
    <main class="main">
        <section class="checkout__details">
            <!-- <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img3.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
            </article> -->
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <!-- <li>
                <a href="#">
                    <img src="../storage/img/homeSelect.svg" alt="">
                </a>
            </li>
            <li>
                <a href="views/checkout.html">
                    <img src="../storage/img/bag.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/heart.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/profile.svg" alt="">
                </a>
            </li> -->
        </ul>
    </footer>
</body>

</html>